@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', sans-serif;
}

header .container {
    max-width: 1200px;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: center;
}

header nav ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.1s;
}

nav ul a:hover {
    color: #ffb800;
    text-decoration: underline;
    text-decoration-color: #ffb800;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.ButtonCo, .ButtonCo1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ButtonCo a, .ButtonCo1 a {
    text-decoration: none;
    text-transform: uppercase;
}

.Connexion {
    color: rgb(0, 0, 0);
    background-color: #ffb800;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px 20px;
}

.Inscription {
    color: rgb(0, 0, 0);
    background-color: #ffb800;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px 20px;
}

.logo {
    width: 120px;
    height: auto;
}

.nav-menu {
    margin-left: 100px; /* Utilise automatiquement l'espace disponible à gauche */
}

header nav ul a.active {
    color: #ffb800;
    text-decoration: underline;
    text-decoration-color: #ffb800;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.Profil.Connexion {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
    color: aliceblue;
    background-color: #ffb800;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px 20px;
}

.Deconnexion {
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
    color: red;
    font-weight: bold;
    border-bottom: 2px solid red;
    padding-bottom: 2px;
}


