

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-nav {
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; 
    gap: 10px; }

.profile-nav ul li {
    margin-bottom: 0;
}

.profile-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    display: block;
    padding: 10px 20px; 
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#dark-mode-toggle {
    background-color: #cccccc; 
    padding: 10px 20px;
    margin-top: 60px; 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    color: #333; 
    display: inline-block; 
    cursor: pointer; 
    font-size: 1.1em;
    font-family: inherit; 
    font-weight: normal; 
    text-decoration: none;
}


#dark-mode-toggle:hover {
    color: #ffb800;
    background-color: #fff; 
}

.profile-nav ul li a:hover {
    color: #ffb800;
}

.profile-section {
    overflow-x:  hidden;
    overflow-y: auto;
    height: 60vh;
    flex: 3;
    margin-left: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.profile-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.profile-section form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-section label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.profile-section input[type="text"],
.profile-section input[type="email"],
.profile-section input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.profile-section button {
    padding: 10px 20px;
    background-color: #ffb800;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.profile-section button:hover {
    background-color: #ffb800;
}

.profile-section ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

.profile-section ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    text-align: left;
}

.profile-section ul li:last-child {
    border-bottom: none;
}

.profile-section ul li a {
    color:#ffb800;
    text-decoration: none;
}

.profile-section ul li a:hover {
    text-decoration: underline;
}

.logout {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

.logout:hover {
    background-color: #c82333;
}

/* Responsive design */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-nav {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .profile-section {
        width: 100%;
        margin-left: 0;
    }
}
